@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    margin: 0;
}
header {
    color: white;
    background-color: rgb(72, 81, 90);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
header > h1 {
    text-align: center;
    text-shadow: 1px 1px 3px black;
}
nav {
    background-color: rgb(92, 103, 114);
    padding: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
    border-radius: 5px;
}
nav > a{ 
    margin: 45px;
}
main {
    background-color: rgb(157, 180, 202);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
footer {
    background: black;
    text-align: center;
    color: white;
    padding: 4px;
    margin: 0;
}
footer > p {
    margin: 0;
}
article > aside {
    background-color: rgb(72, 81, 90);
    color: white;
}
div#externalbox {
    display: flex;
    flex-direction: column;
}
div#bolinha1 {
    height: 150px;
    width: 150px;
    background-color: red;
    margin: 10px;
    border-radius: 50%;
}
div#bolinha2 {
    height: 150px;
    width: 150px;
    background-color: red;
    margin: 10px;
    border-radius: 100%;
}
a:link {
    color: white;
    text-decoration: none;
}
a:hover {
    color: cyan;
    text-decoration: underline;
}
a:active {
    color: darkblue;
}
a:visited {
    color: cyan;
}
